In [34]:
import xml.etree.ElementTree as ET
import pandas as pd

In [35]:
tree = ET.parse('pivotCacheRecords1.xml')
tree2=ET.parse('pivotCacheDefinition1.xml')
root = tree.getroot()
root2=tree2.getroot()

In [36]:
comb=root2[1][0][0][0]
comb=comb.attrib['v']
ano=root2[1][1][0][0]
ano=ano.attrib['v']
regiao=root2[1][2][0][0]
regiao=regiao.attrib['v']
uf=root2[1][3][0][0]
uf=uf.attrib['v']

list2=[]

for child in root:
    list1=[]
    for subchild in child:
        if subchild.tag=='{http://schemas.openxmlformats.org/spreadsheetml/2006/main}s': 
            continue

        try:
            list1.append(subchild.attrib['v'])
        except Exception:
            pass   
            
        list2.append(list1)

In [38]:
df = pd.DataFrame(list2)

In [39]:
df_column0 = df[0].astype(str).astype(int)
for i in range(len(root2[1][0][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column0 = df_column0.replace(int(i), root2[1][0][0][i].attrib['v'])
df[0] = df_column0

In [41]:
df_column1 = df[1].astype(str).astype(int)
for i in range(len(root2[1][1][0])):
   
    df_column1 = df_column1.replace(int(i), root2[1][1][0][i].attrib['v'])
df[1] = df_column1

In [42]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
1,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
2,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
3,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
4,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77107,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77108,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77109,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77110,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77111,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None

In [43]:
df_column2 = df[2].astype(str).astype(int)
for i in range(len(root2[1][2][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column2 = df_column2.replace(int(i), root2[1][2][0][i].attrib['v'])
df[2] = df_column2

In [44]:
df_column3 = df[3].astype(str).astype(int)
for i in range(len(root2[1][3][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column3 = df_column3.replace(int(i), root2[1][3][0][i].attrib['v'])
df[3] = df_column3

In [46]:
df[0]=df[0].astype(str)

In [47]:
df[1]=df[1].astype(int)

In [50]:
dict={0:'product', 1:'year', 2:'region',3:'uf',4:'jan',5:'feb',6:'mar',7:'apr',8:'may',9:'jun',10:'jul',11:'aug',12:'sep',13:'oct',14:'nov',15:'dec',16:'total'}

df.rename(columns=dict,
          inplace=True)

In [52]:
itree = ET.parse('pivotCacheRecords2.xml')
itree2=ET.parse('pivotCacheDefinition2.xml')
iroot = itree.getroot()
iroot2=itree2.getroot()

In [54]:
list4=[]

for child2 in iroot:
    list3=[]
    for subchild2 in child2:
        if subchild2.tag=='{http://schemas.openxmlformats.org/spreadsheetml/2006/main}s': 
            continue

        try:
            list3.append(subchild2.attrib['v'])
        except Exception:
            pass   
            
        list4.append(list3)

In [55]:
df2 = pd.DataFrame(list4)

In [57]:
df_column0a = df2[0].astype(str).astype(int)
for i in range(len(iroot2[1][0][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column0a = df_column0a.replace(int(i), iroot2[1][0][0][i].attrib['v'])
df2[0] = df_column0a

In [58]:
df_column1a = df2[1].astype(str).astype(int)
for i in range(len(iroot2[1][1][0])):
   
    df_column1a = df_column1a.replace(int(i), root2[1][1][0][i].attrib['v'])
df2[1] = df_column1a

In [59]:
df_column2a = df2[2].astype(str).astype(int)
for i in range(len(root2[1][2][0])):
  
    df_column2a = df_column2a.replace(int(i), root2[1][2][0][i].attrib['v'])
df2[2] = df_column2a

In [60]:
df_column3a = df2[3].astype(str).astype(int)
for i in range(len(root2[1][3][0])):
   
    df_column3a = df_column3a.replace(int(i), root2[1][3][0][i].attrib['v'])
df2[3] = df_column3a

In [61]:
dict={0:'product', 1:'year', 2:'region',3:'uf',4:'jan',5:'feb',6:'mar',7:'apr',8:'may',9:'jun',10:'jul',11:'aug',12:'sep',13:'oct',14:'nov',15:'dec',16:'total'}

df2.rename(columns=dict,
          inplace=True)

In [63]:
df=df.drop_duplicates()

In [64]:
df2=df2.drop_duplicates()

In [65]:
df.to_csv('out_file.csv')
df2.to_csv('out_file2.csv')