In [80]:
import xml.etree.ElementTree as ET
import pandas as pd

In [81]:
tree = ET.parse('pivotCacheRecords1.xml')
tree2=ET.parse('pivotCacheDefinition1.xml')
root = tree.getroot()
root2=tree2.getroot()

In [82]:
comb=root2[1][0][0][0]
comb=comb.attrib['v']
ano=root2[1][1][0][0]
ano=ano.attrib['v']
regiao=root2[1][2][0][0]
regiao=regiao.attrib['v']
uf=root2[1][3][0][0]
uf=uf.attrib['v']

list2=[]

for child in root:
    list1=[]
    for subchild in child:
        if subchild.tag=='{http://schemas.openxmlformats.org/spreadsheetml/2006/main}s': 
            continue

        try:
            list1.append(subchild.attrib['v'])
        except Exception:
            pass   
            
        list2.append(list1)

In [83]:
print(uf)

RONDÃ”NIA

In [84]:
df = pd.DataFrame(list2)

In [85]:
df_column0 = df[0].astype(str).astype(int)
for i in range(len(root2[1][0][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column0 = df_column0.replace(int(i), root2[1][0][0][i].attrib['v'])
df[0] = df_column0

In [86]:
print(df)

                    0   1  2   3                   4                   5   \
0      GASOLINA C (m3)   0  0   0  9563.2630000000008  11341.228999999999
1      GASOLINA C (m3)   0  0   0  9563.2630000000008  11341.228999999999
2      GASOLINA C (m3)   0  0   0  9563.2630000000008  11341.228999999999
3      GASOLINA C (m3)   0  0   0  9563.2630000000008  11341.228999999999
4      GASOLINA C (m3)   0  0   0  9563.2630000000008  11341.228999999999
...                ...  .. ..  ..                 ...                 ...
77107         GLP (m3)  20  4  26  13725.974637681158  13883.065217391302
77108         GLP (m3)  20  4  26  13725.974637681158  13883.065217391302
77109         GLP (m3)  20  4  26  13725.974637681158  13883.065217391302
77110         GLP (m3)  20  4  26  13725.974637681158  13883.065217391302
77111         GLP (m3)  20  4  26  13725.974637681158  13883.065217391302

                       6                   7                   8   \
0      9369.7459999999992           10719.983  11165.968000000001
1      9369.7459999999992           10719.983  11165.968000000001
2      9369.7459999999992           10719.983  11165.968000000001
3      9369.7459999999992           10719.983  11165.968000000001
4      9369.7459999999992           10719.983  11165.968000000001
...                   ...                 ...                 ...
77107  16011.333333333332  15887.492753623188   13463.27536231884
77108  16011.333333333332  15887.492753623188   13463.27536231884
77109  16011.333333333332  15887.492753623188   13463.27536231884
77110  16011.333333333332  15887.492753623188   13463.27536231884
77111  16011.333333333332  15887.492753623188   13463.27536231884

                       9                   10                  11  \
0      12312.450999999999            11220.97  12482.281000000001
1      12312.450999999999            11220.97  12482.281000000001
2      12312.450999999999            11220.97  12482.281000000001
3      12312.450999999999            11220.97  12482.281000000001
4      12312.450999999999            11220.97  12482.281000000001
...                   ...                 ...                 ...
77107  15325.704710144926  15689.914855072462  15358.490942028984
77108  15325.704710144926  15689.914855072462  15358.490942028984
77109  15325.704710144926  15689.914855072462  15358.490942028984
77110  15325.704710144926  15689.914855072462  15358.490942028984
77111  15325.704710144926  15689.914855072462  15358.490942028984

                       12                  13                  14  \
0      13591.121999999999            11940.57  11547.575999999999
1      13591.121999999999            11940.57  11547.575999999999
2      13591.121999999999            11940.57  11547.575999999999
3      13591.121999999999            11940.57  11547.575999999999
4      13591.121999999999            11940.57  11547.575999999999
...                   ...                 ...                 ...
77107  13937.451086956522  133282.70289855069                None
77108  13937.451086956522  133282.70289855069                None
77109  13937.451086956522  133282.70289855069                None
77110  13937.451086956522  133282.70289855069                None
77111  13937.451086956522  133282.70289855069                None

                       15                  16
0      10818.093999999999  136073.25300000003
1      10818.093999999999  136073.25300000003
2      10818.093999999999  136073.25300000003
3      10818.093999999999  136073.25300000003
4      10818.093999999999  136073.25300000003
...                   ...                 ...
77107                None                None
77108                None                None
77109                None                None
77110                None                None
77111                None                None

[77112 rows x 17 columns]

In [87]:
df_column1 = df[1].astype(str).astype(int)
for i in range(len(root2[1][1][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column1 = df_column1.replace(int(i), root2[1][1][0][i].attrib['v'])
df[1] = df_column1

In [88]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
1,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
2,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
3,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
4,GASOLINA C (m3),2000,0,0,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77107,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77108,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77109,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77110,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77111,GLP (m3),2020,4,26,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None

In [89]:
df_column2 = df[2].astype(str).astype(int)
for i in range(len(root2[1][2][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column2 = df_column2.replace(int(i), root2[1][2][0][i].attrib['v'])
df[2] = df_column2

In [90]:
df_column3 = df[3].astype(str).astype(int)
for i in range(len(root2[1][3][0])):
    # REPLACE i por root2[1][0][0][i].attrib['v']
    df_column3 = df_column3.replace(int(i), root2[1][3][0][i].attrib['v'])
df[3] = df_column3

In [91]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,GASOLINA C (m3),2000,REGIÃƒO NORTE,RONDÃ”NIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
1,GASOLINA C (m3),2000,REGIÃƒO NORTE,RONDÃ”NIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
2,GASOLINA C (m3),2000,REGIÃƒO NORTE,RONDÃ”NIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
3,GASOLINA C (m3),2000,REGIÃƒO NORTE,RONDÃ”NIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
4,GASOLINA C (m3),2000,REGIÃƒO NORTE,RONDÃ”NIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77107,GLP (m3),2020,REGIÃƒO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77108,GLP (m3),2020,REGIÃƒO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77109,GLP (m3),2020,REGIÃƒO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77110,GLP (m3),2020,REGIÃƒO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77111,GLP (m3),2020,REGIÃƒO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None

In [92]:
df[0]=df[0].astype(str)

In [93]:
df[1]=df[1].astype(int)

In [94]:
df.dtypes

0     object
1      int32
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
dtype: object

In [95]:
print(df.columns)

RangeIndex(start=0, stop=17, step=1)

In [96]:
DataFrame

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,GASOLINA C (m3),2000,REGIÃƒO NORTE,RONDÃ”NIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
1,GASOLINA C (m3),2000,REGIÃƒO NORTE,RONDÃ”NIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
2,GASOLINA C (m3),2000,REGIÃƒO NORTE,RONDÃ”NIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
3,GASOLINA C (m3),2000,REGIÃƒO NORTE,RONDÃ”NIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
4,GASOLINA C (m3),2000,REGIÃƒO NORTE,RONDÃ”NIA,9563.2630000000008,11341.228999999999,9369.7459999999992,10719.983,11165.968000000001,12312.450999999999,11220.97,12482.281000000001,13591.121999999999,11940.57,11547.575999999999,10818.093999999999,136073.25300000003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77107,GLP (m3),2020,REGIÃƒO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77108,GLP (m3),2020,REGIÃƒO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77109,GLP (m3),2020,REGIÃƒO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77110,GLP (m3),2020,REGIÃƒO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None
77111,GLP (m3),2020,REGIÃƒO CENTRO-OESTE,DISTRITO FEDERAL,13725.974637681158,13883.065217391302,16011.333333333332,15887.492753623188,13463.27536231884,15325.704710144926,15689.914855072462,15358.490942028984,13937.451086956522,133282.70289855069,None,None,None

In [97]:
data_frame = pd.DataFrame(df, columns=['product', 'year', 'region','uf','jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec','total'])

In [98]:
data_frame

,product,year,region,uf,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
itree = ET.parse('pivotCacheRecords2.xml')
itree2=ET.parse('pivotCacheDefinition2.xml')
iroot = itree.getroot()
iroot2=itree2.getroot()

In [101]:
list3=[]

for child2 in iroot:
    list4=[]
    for subchild2 in child2:
        if subchild2.tag=='{http://schemas.openxmlformats.org/spreadsheetml/2006/main}s': 
            continue

        try:
            list3.append(subchild.attrib['v'])
        except Exception:
            pass   
            
        list4.append(list3)

In [102]:
df2 = pd.DataFrame(list4)

In [103]:
df2

,0,1,2,3,4,5,6,7,8,9,...,17945,17946,17947,17948,17949,17950,17951,17952,17953,17954
0,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,3517.6,3681.7,4700.67,5339.2,6166.4,6539.65,...,0,0,0,0,0,0,0,0,0,0